
#keys{
  margin-left: 10px;
  display: grid;
  grid-template-columns: repeat(6,55px);
  gap: 10px;
  width: 100%;
}
#display{
  width: 98%;
  text-align: left;margin-top: 5px;
  padding-top: 10px;border: none;font-size: 30px;
  padding-bottom: 10px;padding-left:2;
  margin-bottom: 10px;padding-right: 0;
  background-color: black;color: white;
  display: block;
}
.calculator{
  margin-left: 40%;margin-top: 15%;
  width: 400px;height: 345px;border: solid  rgb(37, 218, 231);
  background-color: black;border-radius: 20px;
}

button{
  width: 55px;height: 30px;
  border-radius: 80%;padding: 0;
  color: white;font-size: larger;border-color: rgba(255, 255, 255, 0.505);
  background-color: rgba(87, 79, 79, 0.309);
}
.button-operators{
  background-color: darkgoldenrod;
}
body{
  background-color: rgba(0, 0, 0, 0.703);
}
